---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/react/Hero.tsx";
import About from "@components/About.astro";
import Skills from "@components/Skills.astro";
import ProjectsSection from "@components/ProjectsSection.astro";
import Experience from "@components/Experience.astro";
import Contact from "@components/Contact.astro";

const lang = "es" as const;
---

<Layout lang={lang}>
    <section id="hero" aria-label="Intro">
        <Hero client:load lang={lang} />
    </section>
    <About lang={lang} />
    <ProjectsSection lang={lang} />
    <Experience lang={lang} />
    <Skills lang={lang} />
    <Contact lang={lang} />
</Layout>
